Import Necessary Modules

In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [39]:
df = pd.read_csv('../data/MachineLearningRating_v3.txt', sep='|') # Load data
df.head() # Display first few rows

C:\Users\mihret.mekbebe\AppData\Local\Temp\ipykernel_1936\468325433.py:1: DtypeWarning: Columns (32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/MachineLearningRating_v3.txt', sep='|') # Load data

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

In [ ]:
df.columns # List column names

Index(['UnderwrittenCoverID', 'PolicyID', 'TransactionMonth',
       'IsVATRegistered', 'Citizenship', 'LegalType', 'Title', 'Language',
       'Bank', 'AccountType', 'MaritalStatus', 'Gender', 'Country', 'Province',
       'PostalCode', 'MainCrestaZone', 'SubCrestaZone', 'ItemType', 'mmcode',
       'VehicleType', 'RegistrationYear', 'make', 'Model', 'Cylinders',
       'cubiccapacity', 'kilowatts', 'bodytype', 'NumberOfDoors',
       'VehicleIntroDate', 'CustomValueEstimate', 'AlarmImmobiliser',
       'TrackingDevice', 'CapitalOutstanding', 'NewVehicle', 'WrittenOff',
       'Rebuilt', 'Converted', 'CrossBorder', 'NumberOfVehiclesInFleet',
       'SumInsured', 'TermFrequency', 'CalculatedPremiumPerTerm',
       'ExcessSelected', 'CoverCategory', 'CoverType', 'CoverGroup', 'Section',
       'Product', 'StatutoryClass', 'StatutoryRiskType', 'TotalPremium',
       'TotalClaims'],
      dtype='object')

In [40]:
df["TransactionMonth"]= pd.to_datetime(df["TransactionMonth"], errors='coerce') # Convert to datetime

Calculating Loss Ratio and Grouping them by Important Variables

In [41]:
df["LossRatio"] = df["TotalClaims"] / df["TotalPremium"] # Calculate Loss Ratio
df.groupby("Province")["LossRatio"].mean().sort_values(ascending=False) # Loss Ratio by Province
df.groupby("VehicleType")["LossRatio"].mean().sort_values(ascending=False) # Loss Ratio by Vehicle Type
df.groupby("Gender")["LossRatio"].mean().sort_values(ascending=False) # Loss Ratio by Gender

Gender
Female           inf
Male             inf
Not specified    NaN
Name: LossRatio, dtype: float64

Creating Plots

In [26]:
print(df["CustomValueEstimate"].isna().sum()) # Check missing values in CustomValueEstimate

779642

In [24]:
plt.hist(df["TotalPremium"], bins=50) # Premium Distribution 
plt.title("Premium Distribution")
plt.savefig("../plots/premium_dist.png") # Save the histogram
plt.close()
plt.hist(df["TotalClaims"], bins=50) # Claim Distribution 
plt.title("Claim Distribution")
plt.savefig("../plots/claim_dist.png") # Save the histogram
plt.close()
plt.hist(df["CustomValueEstimate"], bins=50) # CustomValueEstimate Distribution 
plt.title("CustomValueEstimate Distribution")
plt.savefig("../plots/CustomValueEstimate_dist.png") # Save the histogram
plt.close()
plt.boxplot(df["TotalClaims"]) # Claims Outlier Check
plt.title("Claims Outlier Check")
plt.savefig("../plots/claims_outliers.png") # Save the boxplot
plt.close()
plt.boxplot(df["CustomValueEstimate"]) # CustomValueEstimate Outlier Check
plt.title("CustomValueEstimate Outlier Check")
plt.savefig("../plots/CustomValueEstimate_outliers.png") # Save the boxplot
plt.close()

In [ ]:
monthly = df.groupby(df["TransactionMonth"].dt.to_period("M")).agg({
   "TotalClaims": "sum",
   "TotalPremium": "sum"
}) # Monthly aggregation
monthly.plot() # Plot monthly trends
plt.title("Monthly Claim & Premium Trend")
plt.savefig("../plots/monthly_trend.png") # Save the plot
plt.close()

Top LossRatio per make

In [ ]:
df["LossRatio"] = df["LossRatio"].replace([np.inf, -np.inf], 0) # Replace infinite values with 0
df.groupby("make")["LossRatio"].sum().sort_values(ascending=False).head(10) # Top 10 Makes by Loss Ratio

make
TOYOTA                                 167506.947682
MERCEDES-BENZ                           12060.156166
VOLKSWAGEN                               6572.419167
GOLDEN JOURNEY                           4278.276213
CMC                                      4002.494797
IVECO                                    3663.087528
AUDI                                     3390.592668
C.A.M                                    2492.071992
MITSUBISHI                               2336.981815
NISSAN/DATSUN                            1810.758589
Name: LossRatio, dtype: float64

Bottom LossRatio per make

In [44]:
df.groupby("make")["LossRatio"].sum().sort_values().head(10) # Bottom 10 Makes by Loss Ratio

make
CHEVROLET                              0.0
CITROEN                                0.0
CHERY                                  0.0
DAIHATSU                               0.0
GEELY                                  0.0
HINO                                   0.0
FORD                                   0.0
HONDA                                  0.0
JINBEI                                 0.0
LEXUS                                  0.0
Name: LossRatio, dtype: float64

Correlation between Claims and Premiums

In [ ]:
df[["TotalClaims", "TotalPremium"]].corr() # Correlation between Claims and Premium

              TotalClaims  TotalPremium
TotalClaims      1.000000      0.121588
TotalPremium     0.121588      1.000000